

body {
    color: #5a5a5a;
  }

.navbar {
    background-color: #121212;
}
/*.navbar a {
    color: #ffffff;
}*/
.link-menu {
    color: #ffffff;
}

.carrocel img{
    max-height: 500px;
}

.card-css img {
    max-height: 250px;
}

.container {
    padding-top: 50px;
}

.bg-wine {
    background-color: #800652 ;
}

.text-wine {
    color: #800652;
}

.btn-wine {
    color: #fff;
    background-color: #800652;
    border-color: #313F52;
  }
  
  .btn-wine:hover {
    color: #fff;
    background-color: #800652;
    border-color: #313F52;
  }
  
  .btn-wine:focus, .btn-wine.focus {
    color: #fff;
    background-color: #800652;
    border-color: #313F52;
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
  }

  .border-wine {
      border-color: #800652;
  }

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
      padding-top: 10px;
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  